# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5de5ddfab49fad5f88879d0506cbf8d46068a1485e64e137a949ac6682ebc3f4a3fd86d3a34706a3b74095d2e97da0ff180ee3c4fe85f6567143b4125a512173

test:
  secret_key_base: 366dd65545eced8f7a9f1f88646d90e5a355baa46988e21c2087e3682031b9ca41429db9bd9628c41371c06c1740d72e2b07fc83df9ae610516451293f1cc169

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
