.inbox-list, .inbox-show-list{


  .inbox-item{
    background: #fff;
    margin-top: 45px;
  }

  .inbox-item-header{
    position: relative;
    margin: 0 0 0px 10px;
    border-top: 1px solid #eee;
  }

  .inbox-item-body{
    position: relative;
    margin: 10px 0 0px 10px;
  }

  .inbox-footer {
    margin: 10px 10px 0 10px;
    text-align: left;
    line-height: 30px;
    
    .inbox-time{
      color: #999;
      font-size: 12px;
      font-weight: 400;
    }

    .inbox-show-detail, .inbox-message-delete{
      color: #259;
      font-size: 12px;
      font-weight: 400;
    }

    .inbox-bull{
      padding: 0 3px;
      color: #BBB;
      font-family: Arial;
    }
  }
}

.inbox-show-list{
  width: 80%;
  margin-left: 10%;
  .inbox-show-textarea{
    border-radius: 0px 3px 3px 3px;
    border-color: #ddd;
  }

  .inbox-error{
    text-align: left;
    color: rgb(195, 65, 47);
    margin: 5px 0 5px 0;
  }

  .inbox-notice{
   text-align: left; 
   color: #1B8909;
   margin: 5px 0 5px 0;
  }

}

.inbox-template{
  display: none;
}
