<div class="sidebar -dark -left -collapsible" id="sidebar">
  <div class="nano">
    <div class="nano-content">
      <div class="sidebar-wrapper">
        <ul class="sidebar-menu metismenu">
          <li class="sidebar-heading">Elements</li>
          <li class="">
            <a href="/admin"><i class="pe pe-home"></i> <span>Dashboard</span></a>
          </li>
          <li>
            <a href="/admin"><i class="pe pe-box2"></i> <span>用户</span> <span class="fa arrow"></span></a>
            <ul>
              <li>
                <a href="/admin/users"><span>用户列表</span></a>
              </li>
            </ul>
          </li>
          <%= sidebar_li("活动") do %>
            <%= sidebar_child_li("活动列表", "/admin/activities")%>
          <% end %>
          <li>
              <a href="#2"><i class="pe pe-note"></i> <span>Forms</span> <span class="fa arrow"></span></a>
              <ul>
                <li>
                  <a href="forms-elements.html">Elements</a>
                </li>
                <li>
                  <a href="forms-validation.html">Validation</a>
                </li>
                <li>
                  <a href="forms-wizard.html">Wizard</a>
                </li>
                <li>
                  <a href="forms-input-masks.html">Input Masks</a>
                </li>
                <li>
                  <a href="forms-wysiwyg.html">WYSIWYG Editor</a>
                </li>
                <li>
                  <a href="forms-multi-upload.html">Multi Upload</a>
                </li>
              </ul>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>