<div class="inbox-item" >
  <div class="inbox-item-header">
    我发送给
    <a title="文文" class="pm-touser author-link" href="/people/wen-wen-74-94"
    data-hovercard="p$t$wen-wen-74-94">
      文文
    </a>
    ：
  </div>
  <div class="inbox-item-body">
    <span>
        &nbsp;&nbsp;&nbsp;付费授权功能今天开始在网页端公测啦！这个功能将带来从申请、通知、支付、确认授权到授权管理等一系列便捷体验。
        <br/>
        <br/>
        通过各种维权工作的开展，我们看到越来越多的内容使用方开始联系作者申请授权。我们希望这个产品可以进一步引导大家规范使用内容，为每一位知乎的原创者带来更多的尊重和收益。
    </span>
  </div>
  <div class="inbox-footer">
    <span class="inbox-time inbox-left">
      今天 15:49
    </span>
    <a class="inbox-show-detail" href="">
      查看详情
    </a>
    <span class="inbox-bull">
      |
    </span>
    <a class="inbox-reply" href="javascript:;" name="reply">
      回复
    </a>
    <span class="inbox-bull">
      |
    </span>
    <a class="inbox-delete" href="javascript:;" name="delete">
      删除
    </a>
  </div>
</div>

<div class="divider"></div>