<%= stylesheet_link_tag    'inboxes', media: 'all', 'data-turbolinks-track' => true %>
<div class="col-md-8 col-md-offset-2 inbox-list">
  <% @inboxes.each do |inbox| %>
    <%= render "inbox_item", inbox: inbox %>
  <% end %>
</div> 