<%= stylesheet_link_tag    'inboxes', media: 'all', 'data-turbolinks-track' => true %>
<div class="col-md-8 col-md-offset-2 inbox-list">
  <% 10.times.each do |i| %>
    <%= render "inbox_item" %>
  <% end %>
</div> 