<%= stylesheet_link_tag    'inboxes', media: 'all', 'data-turbolinks-track' => true %>
<div class="col-md-8 col-md-offset-2 inbox-show-list">
  <div class="inbox-show-input">
    <textarea class="inbox-show-textarea" raw=100 col=100 style="width: 100%"></textarea>
    <div>
      <input type="submit" name="commit" value="提交" class="btn btn-primary col-xs-2" data-tb="save-topic" data-disable-with="提交中...">
    </div>
  </div>

  <% 10.times.each do |i| %>
    <%= render "show_item" %>
  <% end %>
</div> 